<ion-header>

  <ion-navbar>
    <ion-title>Estamos quase lá.</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>{{ agendamento.carro.nome }}</h1>
  <p>R${{ agendamento.valor }}</p>

  <form [formGroup]="agendamentoForm" (ngSubmit)="agenda()">
    <ion-item>
      <ion-label [hidden]="(nome.dirty || nome.touched) && nome.invalid" stacked>Nome</ion-label>
      <ion-input [(ngModel)]="agendamento.nome" formControlName="nome" name="nome"></ion-input>
      <ion-label *ngIf="nome.invalid && (nome.dirty || nome.touched)" color="danger" stacked>Nome obrigatório</ion-label>
    </ion-item>
    <ion-item>
        <ion-label [hidden]="(endereco.dirty || endereco.touched) && endereco.invalid" stacked>Endereço</ion-label>
        <ion-input [(ngModel)]="agendamento.endereco" formControlName="endereco" name="endereco"></ion-input>
        <ion-label *ngIf="endereco.invalid && (endereco.dirty || endereco.touched)" color="danger" stacked>Endereco obrigatório</ion-label>
    </ion-item>
    <ion-item>
        <ion-label [hidden]="(email.dirty || email.touched) && email.invalid" stacked>Email</ion-label>
        <ion-input [(ngModel)]="agendamento.email" formControlName="email" name="email"></ion-input>
        <ion-label *ngIf="email.invalid && (email.dirty || email.touched)" color="danger" stacked>Email obrigatório</ion-label>
    </ion-item>
    <ion-item>
        <ion-label [hidden]="(data.dirty || data.touched) && data.invalid" stacked>Data</ion-label>
        <ion-datetime [(ngModel)]="agendamento.data" formControlName="data" name="data" displayFormat="DD/MM/YY"></ion-datetime>
        <ion-label *ngIf="data.invalid && (data.dirty || data.touched)" color="danger" stacked>Data obrigatório</ion-label>
    </ion-item>
    <button ion-button type="submit" block [disabled]="agendamentoForm.invalid">Finalizar agendamento</button>
  </form>
</ion-content>
